:root{
    --light: #f5f5f5;
    --dark: #2a2a2f;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #4d4e53;
    line-height: 1.5;
    /* font-size: 1rem; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#navbar{
    position: fixed;
    left:0;
    top:0;
    width: 300px;
    min-width: 280px;
    height: 100%;
   background-color: var(--light);
   border-right: solid;
}

#navbar li{
    list-style: none;
    border-top: 1px solid;
    width: 100%;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar a{
    display: block;
    text-decoration: none;
    padding: 10px 35px;
    cursor: pointer;
}
a:visited{
    color: var(--dark);
}

#main-doc{
    margin-left: 310px;
    padding: 5vh;
    margin-bottom: 100px;
}

section > header{
    text-align: left;
    font-size: 1.8rem;
    margin-left: 12px;
}
#navbar > header{
    font-size: 1.8rem;
    text-align: center;
    margin: 10px;
}

section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
  }
  
  section li {
    margin: 15px 0px 0px 20px;
  }

  code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    border-left: 5px solid navy;
  }

  @media only screen and (max-width: 815px) {

      #navbar ul{
          border:1px solid;
          height: 200px;
      }

      #navbar{
          position: absolute;
          top: 0;
          left: 0;
          max-height: 250px;
          width: 100%;
          z-index: 1;
          border: none;
      }

      #main-doc{
          /* width: 100%; */
          margin-left: 10px;
          margin-top: 270px;
      }
  }

  @media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
  }